
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>History</h2>

<div style="background-color:ghostwhite">
    <div style="color:black">
        <div style="font-family:'Arial Nova'">
            <h6>Club History</h6>
            <img src="~/Images/Logo 1.jpg" width="300" height="300"/>
        </div>
    </div>
</div>
<div style="background-color:ghostwhite">
    <div style="color:black">
        <div style="font-family:'Arial Nova'">
            <p>The beginnings of Lech's history are linked to an organization that wasn't directly connected to the sport - Catholic Youth Society. In 1920 the youth finally decided to abandon </p>
            <img src="~/Images/Ultra 1.jpg"  width="200" height="200"/>
        </div>
    </div>
</div>
<div style="background-color:ghostwhite">
    <div style="color:black">
        <div style="font-family:Arial 'Arial Nova'">
            <p>
                In 2006, in an attempt to reconnect with the club's history, the board of directors changed the name one last time, to KKS Lech Poznań. The initials stand for Kolejowy Klub Sportowy (“Railway Sports Club”), while Lech is the name of the legendary founder of the Polish nation. The club is often referred to as Lech Poznan FC in English.

                Lech are what someone could call a “late bloomer”, in the sense that it took the club 60 whole years to win a major title. After finishing third in the Polish Championship in 1978 and reaching (but losing) the Cup Final in 1980, the time was ripe in 1982 to win the Cup and really start establishing themselves as a team to be taken seriously.
            </p>
        </div>
    </div>
</div>
<div style="background-color:ghostwhite">
    <div style="color:black">
        <div style="font-family:'Arial Nova'">
            <p>
                Next season, the first Cup title was followed by the first Championship title, while in 1984 they gathered all available silverware, winning a historic double.

                More successes were meant to come in the late eighties and early nineties. Another Cup win in 1988, two legendary 1-1 draws against Barcelona in the second round of the UEFA Cup Winners' Cup a few months later (Lech were finally eliminated in a penalty shoot-out by the team that went on to lift the trophy that season), and an almost absolute dominance in the Championship for four years, winning three out of possible four titles from 1990 to 1993.
            </p>
        </div>
    </div>
</div>