
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div style="background-color:ghostwhite">
    <div style="color:black">
        <div style="font-family:'Arial Nova'">
            <div class="col-md-6">
                <div class="row">
                    <img src="~/Images/Leach Pozan 1.jpg" width="100" height="100" />
                </div>
            </div>
            <div style="font-family:'Arial Nova'">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Welcome to Lech Pozan FC</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>In the summer of 2018, we launched the Gersnet Podcast and we've been delighted with the response across the community with thousands of views and subscribers already across the various platforms. As promised the pod will be available on a regular basis so today we're very happy to bring you our next live episode.</p>
    <p>
        With Rangers back in Euro action on Thursday night versus Lech Poznan at Ibrox, Colin and Ross preview the game and ask what we can expect from it.

        Keep an eye on our YouTube channel for our next live event (usually Sundays at 9.30pm during the season).

        At the moment you can also subscribe to the pod via the platforms below the video (remember to download their app from the App Store and/or Google Play) if you want to listen/download on your mobile devices. If you encounter any problems, then please email us for help.

    </p>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="~/Images/Lech Pozan 2.jpg"  width="200" height="200"/>
    </div>
</div>

